.vs/
bin/
obj/
*.user
*.suo
*.userprefs
*.db
.vscode/
.env
.env.*
!.env.example
TestResults/
*.log
*.sqlite
*.db
*.ncrunch*
.idea/
*.DS_Store
node_modules/
coverage/

# Ignorar todos os arquivos .md exceto README.md
*.md
!README_EN.md
!README_PT.md
!SEEDERS_EN.md
!SEEDERS_PT.md
