.vs/
bin/
obj/
*.user
*.suo
*.userprefs
*.db
.vscode/
.env
.env.*
TestResults/
*.log
*.sqlite
*.db
*.ncrunch*
.idea/
*.DS_Store
node_modules/
coverage/

# Ignorar todos os arquivos .md exceto README.md
*.md
!README.md
